@model OnlineCoachingApp.Web.ViewModels.TrainingProgram.TrainingProgramDetailsViewModel

<div class="program-details">
    <div class="image-container">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="program-image" />
        <div class="overlay">
            <h1>@Model.Name</h1>
        </div>
    </div>

    <div class="details-container">
        <h2>@Model.Name</h2>
        <p class="price">Price: £@Model.Price</p>

        <h3>About the Program</h3>
        <p>@Model.Description</p>

        <h4>Category:</h4>
        <p>@Model.Category</p>

        <a asp-controller="TrainingProgram" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-controller="TrainingProgram" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>


        <form asp-controller="TrainingProgram" asp-action="BuyNow" method="post">
            <input type="hidden" name="programId" value="@Model.Id" />
            <button type="submit" class="buy-now-btn">Buy Now</button>
        </form>
    </div>
</div>

